html{
	background-color: gray;
}
.top h1{
 display:inline; 
 color: green;
}
.items{
	float: right;
	display: inline-block;
	color: green;
}
p{
	color: green;
}
.store{
display: inline-block;
}
.at{
border: 10px solid yellow;
background-color: white;
display: inline-block;
margin: right 10px;
margin-left: 10px;
margin-top: 30px;
}
.ts{
border: 10px solid yellow;
background-color: white;
display: inline-block;
margin: right 10px;
margin-left: 10px;
margin-top: 30px;
}
.ms{
border: 10px solid yellow;
background-color: white;
display: inline-block;
margin: right 10px;
margin-left: 10px;
margin-top: 30px;
}
.all h2{
color: black;
}
